mlflow==3.7.0
cloudpickle==2.2.1
numpy==2.0.2
pandas==2.2.2
psutil>=5.9.0
scikit-learn==1.5.1
scipy==1.13.1
fastapi
uvicorn
pydantic
requests
python-multipart
matplotlib==3.10.0
defusedxml==0.7.1
h2o==3.46.0.9
wcwidth==0.2.14